header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background: #EFE7E7;
    box-sizing: border-box;
}

header img{
    height: 60px;
    width: 100px;
}

.header1{
    display: flex;
    width: 250px;
    height: 23px;
    align-items: center;
    gap: 9px;
}
.header1 p{
    padding-top: 15px;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    padding-right: 5px;
}

.header2{
    display: flex;
    align-items: center;
}
.header2 .language{
    padding-top: 4px;
    background-color: #EFE7E7;
    border: none;
}


.header2 .login{
    margin-right: 10px;
    padding-top: 4px;
    background-color: #EFE7E7;
    border: none;
    font-weight: bold;
}
.login{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 50px;
    transition: .5s;
}
.login:hover {
    color: #3a6ad2;
}









